@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Oxygen:wght@300;400;700&display=swap');
* {
    box-sizing: border-box;
}

body {
    background: #d9b0b2;
    font-family: 'Hind Siliguri', sans-serif;
    width: 100vw;
    height: 100vh;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 80vw;
    height: 40vh;
    padding: 1rem;
    /* espacamento interno */
    background-image: url('money.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

section {
    width: 100%;
    margin: 0 auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.instrucoes {
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
    max-width: 480px;
    margin: 0 auto;
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 0 0.625rem 0.625rem;
    background: #fff;
}

.instrucoes p {
    margin-top: 0.5rem;
    font-size: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.centro {
    margin-top: 0.625rem;
    text-align: center;
}